.header{
    background-color: blue;
    width: 100vw;
    height: 20vh;
    text-align: center;

}
.header--logo{
    height: 18vh;
    margin: 1vh 0;
}
.randomImage{
    position: absolute;
    z-index: 1;
    bottom:-43%;
}
.animate{
    animation:showImage 6s ease-in-out;
}

@keyframes showImage{
    0%{
        bottom:-43%;
        opacity:0%;
    }
    25%{
        bottom:-1%;
        opacity:100%;
    }
    75%{
        bottom:-1%;
        opacity:100%;
    }
    100%{
        bottom:-43%;
        opacity:0%;
    }
}