@import './header.css';
@import './elements.css';
@import './mainEpisode.css';
@import './mainCharacter.css';
body{

    margin:0;
    padding:0;
    overflow: hidden;
    font-family: 'Nanum Pen Script', cursive;
    background-size: cover;
    background-position: center;

    scrollbar-width: 12px;
    scrollbar-color: var(#f1f1f177) var(#999);
}

.content{
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

.sidebar{
    /* display: flex; */
    flex-wrap: nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20%;
    height: 80vh;
    margin:0;
    padding:0;
    overflow: hidden;
    overflow-y: scroll;
    transition: width 1.5s ease-in-out;
}
.content--full .sidebar{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.main{
    flex-grow: 8;
    width: 80%;
    margin:0;
    transition: width 1.5s ease-in-out;
}

.content--full .main{
    width: 0%;
}

.portal{
    position:absolute;
    width: 0%;
    top: 35%;
    left: 60%;
    z-index: 5;
    animation: portalAnimation 2s ease-in-out;
}

@keyframes portalAnimation{
    0%{
        width: 0%;
        top: 35%;
        left: 60%;
    }
    20%{
        width: 100%;
        top: -15%;
        left: 10%;
    }
    80%{
        width: 100%;
        top: -15%;
        left: 10%;
    }
    100%{
        width: 0%;
        top: 35%;
        left: 60%;
    }
}
.handMadeBorder{
    border: 2px solid black;
    border-radius: 7%  4% 8% 5% / 2% 4% 2%  9%;
    text-transform: uppercase;
    position: relative;

}
.handMadeBorder::before {
    content: '';
    border: 2px solid #111111;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 20% 25% 35% 20%/ 20% 30% 15% 35%;
}
::-webkit-scrollbar-track {
background: #f1f1f177; 
}
::-webkit-scrollbar-thumb {
background: #777; 
border-radius: 20% 25% 35% 20%/ 20% 30% 15% 35%;
border: 2px solid black;
}
::-webkit-scrollbar-thumb:hover {
background: #999; 
}




